# IDE/Editor files
.idea/
.vscode/
[._]*.s[a-w][a-z]

# Mac files
.DS_Store
.fseventsd
.Spotlight-V100
.Trashes
~*

# Rust outputs
target/
*.pdb
*.rs.bk

# Hash/test outputs
data/
test/
*.db*
zero
*.tar.gz
