# IDE/Editor files
.idea/
.vscode/
.claude/
[._]*.s[a-w][a-z]

# Mac files
.DS_Store
.fseventsd
.Spotlight-V100
.Trashes
~*

# Rust outputs
target/
*.pdb
*.rs.bk

# Hashing files
data*/
*.db*
*.gz

# Test files
test/
__pycache__/
*.pyc

# Other
*.patch
