# IDE/Editor files
.idea/
.vscode/
[._]*.s[a-w][a-z]

# Mac files
.DS_Store
.fseventsd
.Spotlight-V100
.Trashes
~*

# Rust build output
debug/
target/

# Hash outputs
hashes/
output/
*.db*

# Test files
test/
zero
*.tar.gz
